.main {
  @media only screen and (max-width: 550px) {
    padding: 4rem 2rem;
  }
  background-color: #f7f7f7;
  padding: 8rem 6rem;
  position: relative;
  flex: 1;
}
.main-2 {
  background-color: #f7f7f7;
  position: relative;
  flex: 1;
}
.content {
  // background-color: brown;
  margin-top: 2rem;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr)
    [full-end];

  @media only screen and (max-width: 800px) {
    grid-template-columns:
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end];
  }

  &__left {
    @media only screen and (max-width: 700px) {
      grid-row: 2 / 3;
      grid-column: col-start 2 / col-end 7;
    }
    grid-column: col-start 1 / col-end 5;
  }
  &__right {
    @media only screen and (max-width: 700px) {
      grid-row: 1 / 2;
      grid-column: col-start 2 / col-end 7;
    }
    grid-column: col-start 6 / col-end 8;
  }

  &__center {
    grid-column: col-start 2 / col-end 7;
  }
}

.channel-bar {
  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }
  background-color: #f7f7f7;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // border-bottom: var(--line);
}

.profile {
  @media only screen and (max-width: 600px) {
    max-width: 45rem;
    padding: 5rem 5rem;
  }
  @media only screen and (max-width: 500px) {
    max-width: 35rem;
    padding: 5rem 5rem;
  }
  max-width: 65rem;
  background-color: white;
  margin: 2rem auto;
  border-radius: 5px;
  box-shadow: var(--light-shadow);
  padding: 5rem 7rem;

  &__username {
    margin-bottom: 2rem;
  }
  &__post-count {
    font-size: 1.5rem;
    color: $color-grey-dark-2;
    font-weight: 400;
  }
}

.heading {
  @media only screen and (max-width: 550px) {
    font-size: 3rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
  font-size: 5rem;
  text-align: center;
  margin-right: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  // background-image: linear-gradient(to right, #7dd56f, #28b487);
  background-image: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}
