extends base

block content
  .main
    .createPost-form
      h2.heading-secondary.ma-bt-lg Create Post
      form.form
        div(class="form__group")
          label(class="form__label", for="subreddit") Select Subreddit
          select#subreddits(name="subreddits", class="form__select")
            option(value='', disabled, selected) Select Subreddit
            each sub in user.subs_joined
              option(value=`${sub.name}-${sub._id}`)=sub.name
        div(class="form__group")
          label(class="form__label", for="title") Title
          input#title(class="form__input", type="text", placeholder="Post Title....", required="required")
        div(class="form__group ma-bt-md")
          label(class="form__label", for="desc") Description
          textarea#desc(class="form__input", type="textarea", placeholder="Post description...(not required)", rows="10", cols="5")
        div(class="form__group")
          a.btn.btn--orange.btn--createPost(href="#") post
          a.btn.btn--cancel.btn--cancelCreatePost(href="#") cancel
