extends base

block content
  .main
    if user
      .subreddit-btn
        a.btn.btn--post.btn--showSubForm(href="#") Create Subreddit
    .createSub-form.hidden
      h2.heading-secondary.ma-bt-lg Create Subreddit
      form.form
        div(class="form__group")
          label(class="form__label", for="title") Title
          input#title(class="form__input", type="text", placeholder="Subreddit Title....", required="required")
        div(class="form__group ma-bt-md")
          label(class="form__label", for="desc") Description
          textarea#desc(class="form__input", type="textarea", placeholder="Subreddit description", rows="5", cols="5")
        div(class="form__group")
          a.btn.btn--orange.btn--createSub(href="#") create
          a.btn.btn--cancel.btn--cancalCreate(href="#") cancel
    if subreddits
        .content
          div(class="content__center")
            ul(class="subreddit__list")
              each sub in subreddits
                li(class="subreddit__item")
                  a(href=`/r/${sub.name}`, class="subreddit__link")=`r/${sub.name}` 
