extends base

block content
  .main-2
    .post-details
      include _post
    div(class="comment__section")
      if user
        div(class="form__group ma-bt-md")
          // <label class="form__label" for="desc">comment</label>
          textarea#desc(class="form__input", type="textarea", placeholder="comment.....", rows="3", cols="3")
        div(class="form__group")
          a.btn.btn--orange.btn--postComment(href="#/") comment
      h1(class="" style="margin-bottom: 2rem") Comments:
      if post.comments
        .comments
          each com in post.comments
            .comment(data-commentId=com._id)
              div(class="comment__box")
                p(class="comment__author")=`u/${com.commenter.username}`
                p(class="comment__message")=com.comment
              if user 
                if user.username == com.commenter.username
                  a.btn.btn--comment.btn--deleteComment(href="#/") Delete
