extends base

block content
  .main-2
    section.profile
      if user
        div(class="profile__details")
          p(class="profile__username heading-secondary")=user.username
          p(class="profile__post-count")=`Posts: ${posts ? posts.length : 0}`
    .content
      div(class="content__center")
        if posts
          each post in posts
            .post
              include _post