extends base

block content
  .main-2
    section.profile
      div(class="profile__details")
        p(class="profile__username heading-secondary") mubix
        p(class="profile__post-count") Posts: 3
    .content
      div(class="content__center")
        if posts
          each post in posts
            .post
              include _post