:root {
  --color-primary: #ff0000;
  --color-secondary: #ff7400;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --line: 1px solid var(--color-grey-light-3);
  --line-2: 2px solid var(--color-grey-dark-3);
  --dark-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  --light-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.06);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  box-sizing: border-box;
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  padding: 3rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media only screen and (max-width: 500px) {
  body {
    padding: 0rem;
  }
}

.main {
  background-color: #f7f7f7;
  padding: 8rem 6rem;
  position: relative;
  flex: 1;
}
@media only screen and (max-width: 550px) {
  .main {
    padding: 4rem 2rem;
  }
}

.main-2 {
  background-color: #f7f7f7;
  position: relative;
  flex: 1;
}

.content {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 800px) {
  .content {
    grid-template-columns: [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end];
  }
}
.content__left {
  grid-column: col-start 1/col-end 5;
}
@media only screen and (max-width: 700px) {
  .content__left {
    grid-row: 2/3;
    grid-column: col-start 2/col-end 7;
  }
}
.content__right {
  grid-column: col-start 6/col-end 8;
}
@media only screen and (max-width: 700px) {
  .content__right {
    grid-row: 1/2;
    grid-column: col-start 2/col-end 7;
  }
}
.content__center {
  grid-column: col-start 2/col-end 7;
}

.channel-bar {
  background-color: #f7f7f7;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 550px) {
  .channel-bar {
    flex-direction: column;
  }
}

.profile {
  max-width: 65rem;
  background-color: white;
  margin: 2rem auto;
  border-radius: 5px;
  box-shadow: var(--light-shadow);
  padding: 5rem 7rem;
}
@media only screen and (max-width: 600px) {
  .profile {
    max-width: 45rem;
    padding: 5rem 5rem;
  }
}
@media only screen and (max-width: 500px) {
  .profile {
    max-width: 35rem;
    padding: 5rem 5rem;
  }
}
.profile__username {
  margin-bottom: 2rem;
}
.profile__post-count {
  font-size: 1.5rem;
  color: #6d5d4b;
  font-weight: 400;
}

.heading {
  font-size: 5rem;
  text-align: center;
  margin-right: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  display: inline-block;
  background-image: linear-gradient(to right, var(--color-secondary), var(--color-primary));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
@media only screen and (max-width: 550px) {
  .heading {
    font-size: 3rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
}
.heading:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--color-secondary), var(--color-primary));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  .btn, .btn:link, .btn:visited {
    font-size: 1.3rem;
    padding: 1rem 2rem;
  }
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--post {
  width: 90%;
  font-weight: 700;
  background-color: orangered;
  color: white;
  text-align: center;
}

.btn--orange {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: 400;
}

.btn--comment {
  font-weight: 400;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 1rem;
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
}

.btn--cancel {
  background-color: var(--color-grey-light-3);
  color: #54483a;
}

.header {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  background-color: #444;
  border-bottom: var(--line);
}
.header__logo-box {
  align-self: center;
  margin-left: 3rem;
  display: flex;
}
@media only screen and (max-width: 500px) {
  .header__logo-box {
    margin-left: 2rem;
  }
}
.header__logo {
  height: 4rem;
}
@media only screen and (max-width: 500px) {
  .header__logo {
    height: 3rem;
  }
}
.header__logo-text {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--color-grey-light-1);
  text-transform: uppercase;
  margin-left: 1rem;
  align-self: center;
}
@media only screen and (max-width: 500px) {
  .header__logo-text {
    margin-left: 0.5rem;
    font-size: 1.4rem;
  }
}
.header__list {
  list-style: none;
  align-self: center;
  display: flex;
}
.header__item {
  margin: 1rem;
  align-self: center;
  justify-self: center;
}
@media only screen and (max-width: 500px) {
  .header__item {
    margin: 0.5rem;
  }
}
.header__item i {
  font-size: 2.2rem;
  padding-right: 0.7rem;
  color: white;
}
@media only screen and (max-width: 500px) {
  .header__item i {
    font-size: 1.5rem;
    padding-right: 0.5rem;
  }
}
.header__item:last-child {
  margin-right: 4rem;
}
@media only screen and (max-width: 500px) {
  .header__item:last-child {
    margin-right: 2rem;
  }
}
.header__link:link, .header__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-grey-light-1);
  text-transform: uppercase;
}
@media only screen and (max-width: 500px) {
  .header__link:link, .header__link:visited {
    font-size: 1.4rem;
  }
}

.login-form {
  max-width: 55rem;
  background-color: white;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: var(--light-shadow);
  padding: 5rem 7rem;
}
@media only screen and (max-width: 550px) {
  .login-form {
    padding: 4rem 3rem;
  }
}

.createSub-form,
.createPost-form {
  max-width: 75rem;
  background-color: white;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: var(--light-shadow);
  padding: 5rem 7rem;
}
@media only screen and (max-width: 550px) {
  .createSub-form,
.createPost-form {
    padding: 4rem 3rem;
  }
}

.subreddit-btn {
  max-width: 75rem;
  background-color: white;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: var(--light-shadow);
  padding: 5rem 7rem;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 550px) {
  .subreddit-btn {
    padding: 4rem 3rem;
  }
}

.form {
  display: block;
}
@media only screen and (max-width: 400px) {
  .form__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 500px) {
  .form__group:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.form__label {
  margin-left: 0.3rem;
  color: var(--color-grey-dark-2);
  margin-bottom: 0.75rem;
  font-size: 1.6rem;
  font-weight: 700;
  display: block;
}
.form__select {
  overflow: hidden;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  background-color: #e8f0fe;
  width: 90%;
  display: block;
  border: none;
  transition: all 0.3s;
}
.form__select option {
  color: #54483a;
}
.form__select:required:invalid {
  color: #5a667f;
}
.form__select option[value=""][disabled] {
  display: none;
}
.form__select:focus {
  outline: none;
  box-shadow: --dark-shadow;
}
.form__input {
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: #e8f0fe;
  width: 90%;
  display: block;
  border: none;
  border-bottom: 3px solid transparent;
  transition: all 0.4s;
}
@media only screen and (max-width: 550px) {
  .form__input {
    width: 95%;
  }
}
.form__input:focus {
  outline: none;
  box-shadow: --dark-shadow;
  border-bottom: 3px solid #008000;
}
.form__input:focus:invalid {
  border-bottom: 3px solid var(--color-primary);
}

.hidden {
  display: none;
}

.post {
  margin: 1.5rem;
  padding: 1.5rem;
  background-color: white;
  box-shadow: var(--light-shadow);
  border-radius: 20px;
}
.post > * {
  margin-bottom: 1rem;
}
.post__header {
  display: flex;
  align-items: center;
}
.post__header span {
  font-size: 1.17rem;
  padding-left: 0.3rem;
  color: var(--color-grey-dark-2);
}
.post__channel-link:link, .post__channel-link:visited {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--color-grey-dark-1);
  font-weight: 700;
}
.post__author-link:link, .post__author-link:visited {
  font-size: 1.17rem;
  padding-left: 0.3rem;
  text-decoration: none;
  color: var(--color-grey-dark-1);
  font-weight: 400;
}
.post__title-link:link, .post__title-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--color-grey-dark-1);
  font-weight: 700;
}
.post__desc {
  padding-bottom: 1rem;
  border-bottom: var(--line-2);
}
.post__desc-text {
  font-size: 1.5rem;
  color: var(--color-grey-dark-1);
}
.post__bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0rem;
}
.post__vote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.post__vote-section i {
  padding: 0 2rem;
}
.post__comments {
  align-self: center;
  justify-self: center;
}
.post__comments-link:link, .post__comments-link:visited {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-grey-dark-1);
  font-weight: 700;
}
.post__comments-link span {
  margin-left: 0.3rem;
  font-weight: 400;
}

.post-details {
  max-width: 75rem;
  background-color: white;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: var(--light-shadow);
  padding: 3rem;
  margin-top: 3rem;
}
@media only screen and (max-width: 700px) {
  .post-details {
    max-width: 65rem;
  }
}
@media only screen and (max-width: 600px) {
  .post-details {
    max-width: 55rem;
  }
}
@media only screen and (max-width: 500px) {
  .post-details {
    max-width: 50rem;
    padding: 1.5rem;
  }
}
@media only screen and (max-width: 450px) {
  .post-details {
    max-width: 45rem;
  }
}
@media only screen and (max-width: 300px) {
  .post-details {
    max-width: 40rem;
  }
}
.post-details > *:not(:last-child) {
  margin-bottom: 1rem;
}

.comment__section {
  max-width: 75rem;
  background-color: white;
  margin: 3rem auto;
  border-radius: 5px;
  box-shadow: var(--light-shadow);
  padding: 3rem;
  padding-bottom: 3rem;
}
@media only screen and (max-width: 700px) {
  .comment__section {
    max-width: 65rem;
  }
}
@media only screen and (max-width: 600px) {
  .comment__section {
    max-width: 55rem;
  }
}
@media only screen and (max-width: 500px) {
  .comment__section {
    max-width: 50rem;
    padding: 1.5rem;
  }
}
@media only screen and (max-width: 450px) {
  .comment__section {
    max-width: 45rem;
  }
}
@media only screen and (max-width: 300px) {
  .comment__section {
    max-width: 40rem;
  }
}

.comments {
  background-color: var(--color-grey-light-2);
  padding: 2rem;
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.comment__author {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.comment__message {
  font-size: 1.4rem;
}

.subreddit__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  cursor: pointer;
}
@media only screen and (max-width: 550px) {
  .subreddit__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.subreddit__item {
  background-color: white;
  text-align: center;
  padding: 2rem;
  transition: all 0.2s;
  border: 2px solid transparent;
}
.subreddit__item:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.subreddit__link:link, .subreddit__link:visited {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: 700;
}

.red {
  color: var(--color-primary);
}

.sidebar {
  margin: 1.5rem;
  padding: 1.5rem;
  box-shadow: var(--light-shadow);
  border-radius: 20px;
  background-color: white;
}
.sidebar > * {
  margin-bottom: 1rem;
}
.sidebar__title {
  font-size: 1.8rem;
  color: var(#f7f7f6);
  font-weight: 500;
  padding-bottom: 1rem;
  border-bottom: var(--line-2);
}
.sidebar__channel {
  padding-bottom: 1rem;
  border-bottom: var(--line-2);
}
.sidebar__channel > * {
  margin-bottom: 1rem;
}
.sidebar__channel-title {
  font-size: 1.6rem;
  color: var(#f7f7f6);
}
.sidebar__channel-desc {
  font-size: 1.4rem;
}
.sidebar__channel-createdAt {
  font-size: 1.4rem;
}
.sidebar__channel-member-count {
  font-size: 1.4rem;
  font-weight: 700;
}
.sidebar__channel-member-count span {
  font-weight: 400;
}
.sidebar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: var(--line-2);
}
.sidebar__item {
  padding-bottom: 0.5rem;
}
.sidebar__link {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--color-greay-light-1);
  font-weight: 400;
}

.button__submit {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 550px) {
  .alert {
    padding: 1.6rem 2rem;
    font-size: 1.5rem;
  }
}

.alert--success {
  background-color: #20bf6b;
}

.alert--error {
  background-color: #eb4d4b;
}

.ma-bt-sm {
  margin-bottom: 1rem !important;
}

.ma-bt-md {
  margin-bottom: 3rem !important;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
